.muted {
	color: #999;
}
.grid-icon, .list-icon {
	fill: #FFF;
}
.top-bar {
	color: #FFF;
}
.top-bar li {
	line-height: 45px;
}
.top-bar .menu-label {
	margin-right: 10px;
	font-size: 80%;
}
.svg-container {
	position: relative;
	top: 5px;
}
.product {
	text-align: center;
	margin-bottom: 10px;
}
.product_name{
	font-weight: bold;
}
.product-price{
	color: #666;
}
.product .button {
	padding: 8px;
}
.product .button svg {
	fill: #FFF;
}
.button.primary {
	background-color: #641300;
}
.button.primary:hover {
	background-color: #B12200;
}
.button.primary:focus {
    background-color: #641300;
}
.button.secondary {
	background-color: #A97928;
}
.button.secondary:hover {
	background-color: #DCBC1E;
}
.button.secondary:focus {
    background-color: #A97928;
}
.button.success {
	background-color: #47710B;
}
.button.success:hover {
	background-color: #78BD13;
}
.button.success:focus {
    background-color: #47710B;
}
.gallery-icon {
	margin-left: 9px;
	padding-top: 3px;
}
.info-icon {
	padding-top: 3px;
	vertical-align: bottom;
}
.image-container {
	height: 220px;
	overflow: hidden;
	vertical-align: middle;
	display: table-cell;
}
.panel {
	background: #47710B;
	border-color: #375709;
	color: #FFF;
}
.panel h5 {
	color: #FFF;
}
.cart-item-container {
	font-size: 70%;
	clear: both;
	margin-bottom: 10px;
	display: inline-block;
	line-height: 15px;
}
.empty-message {
	text-align: center;
	color: #999;
	font-size: 90%;
	margin-top: -10px;
}
.cart-item-container:last-child {
	margin-bottom: 0;
}
.cart-item-container span {
	vertical-align: top;
}
.cart-item-container img {
	margin-right: 5px;
}
.item-remove {
	cursor: pointer;
}
.item-content {
	display: inline-block;
	float: right;
	margin-top: -2px;
}
#cart-totals{
	text-align: right;
}
#search-container {
	position: relative;
	background: #d8d8d8;
	padding: 10px 10px 0;
}
#search-results-container {
	position: relative;
	padding: 0 11px;
}
#search-results {
	background: rgba(0,0,0,0.9);
	position: absolute;
	top: -16px;
	color: #FFF;
	padding: 10px;
	font-size: 80%;
	max-height: 400px;
	overflow-y: scroll;
	display: none;
	left: 11px;
	right: 11px;
	width: auto;
}
#search-results li {
	list-style: none;
	cursor: pointer;
	margin-bottom: 10px;
}
#information-modal img {
	vertical-align: top;
}
.add-to-cart, .more-info {
	height: 34px;
}
.add-to-cart {
	padding-left: 4px;
}
.products-grid-view .more-info, .products-grid-view .add-to-cart {
	width: 100%;
}