<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Major League Merchandise</title>
    <link rel="stylesheet" href="css/foundation.css" />
    <link rel="stylesheet" href="css/main.css" />
    <script src="js/vendor/modernizr.js"></script>
  </head>
  <body>
    
    <nav class="top-bar" data-topbar role="navigation">
	  <ul class="title-area">
	    <li class="name">
	      <h1><a href="#">Major League Merchandise</a></h1>
	    </li>
	    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
	  </ul>

	  <section class="top-bar-section">
	    <ul class="right">
	      	<li class="menu-label">View</li>
	        <li class="active view-option" data-view="grid">
		        <a href="#" class="change-view">
		        	<span class="svg-container">
		        		<svg height="20px" viewBox="0 0 100 100" class="grid-icon">
		        			<use xlink:href="#grid" />
		        		</svg>
		        	</span>
		        </a>
	        </li>
	        <li class="view-option" data-view="list">
	        	<a href="#" class="change-view">
	        		<span class="svg-container">
	        			<svg height="20px" viewBox="0 0 100 100" class="list-icon">
	        				<use xlink:href="#list" />
	        			</svg>
	        		</span>
	        	</a>
	        </li>
	    </ul>
	  </section>
	</nav>
    	
    <div class="row">
		<div class="large-9 medium-8 columns">
		    <div id="products-container">
			    <script type="text/template" class="productsTemplateGrid">
				    <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3" id="product-list">
					    <% _.each( products, function( product ){ %>
			 
				     		<li class="product" id="<%- product.id %>">
				     		 	<div class="image-container"><img src="./img/products/<%- product.photoURL %>" /></div>
			                    <div class="product_name" title="<%- product.name %>"><%= product.name.truncate() %></div>
			                    <div class="product_price">$<%- product.price %></div>
			 		 			<ul class="button-group round even-2">
			 		 				<li><a href="#" class="small button more-info" data-prodid="<%- product.id %>"><svg width="15%" height="100%" viewBox="0 0 100 100" class="info-icon"><use xlink:href="#more_info" /></svg> <span>More Info</span></a></li>
			 		 				<li><a href="#" class="small button success add-to-cart" data-prodid="<%- product.id %>"><svg width="25%" height="100%" viewBox="0 0 100 100" class="cart-icon"><use xlink:href="#add_cart" /> <span>Add to Cart</span></svg></a></li>
			 		 			</ul>
			                </li>
			 
			            <% }); %>
				    </ul>
				    <ul class="pagination">
				    	<% if(page > 1) { %>
							<li class="arrow"><a href="" class="prev">&laquo;</a></li>
				    	<% } else { %>
							<li class="arrow unavailable"><a href="" class="prev">&laquo;</a></li>
				    	<% } %>
				    	<% for(i=1;i<=pages;i++){ %>
				    		<% if (page == i) { %>
				    			<li class="current"><a href=""><%= i %></a></li>
				    		<% } else { %>
								<li><a href="" class="page"><%= i %></a></li>
				    		<% } %>
				    	<% }%>
					  	<% if(page < pages) { %>
							<li class="arrow"><a href="" class="next">&raquo;</a></li>
				    	<% } else { %>
							<li class="arrow unavailable"><a href="" class="next">&raquo;</a></li>
				    	<% } %>
					</ul>
				</script>
				<script type="text/template" class="productsTemplateList">
					<table class="products-grid-view">
						<thead>
						    <tr>
						      <th width="200"></th>
						      <th>Name</th>
						      <th width="150">Price</th>
						      <th width="150">Actions</th>
						    </tr>
						</thead>
						<tbody>
						    <% _.each( products, function( product ){ %>
							    <tr class="product">
							      <td><img src="./img/products/<%- product.photoURL %>" /></td>
							      <td><div class="product_name" title="<%- product.name %>"><%= product.name %></div></td>
							      <td><div class="product_price">$<%- product.price %></div></td>
							      <td><a href="#" class="tiny button more-info round" data-prodid="<%- product.id %>"><svg height="16px" viewBox="0 0 100 100" class="info-icon"><use xlink:href="#more_info" /></svg> <span>More Info</span></a><br />
							      <a href="#" class="tiny button success add-to-cart round" data-prodid="<%- product.id %>"><svg height="16px" width="24px" viewBox="0 0 100 100" class="cart-icon"><use xlink:href="#add_cart" /></svg> Add to Cart</a></td>
							    </tr>
				            <% }); %>
						</tbody>
					</table>
				    <ul class="pagination">
				    	<% if(page > 1) { %>
							<li class="arrow"><a href="" class="prev">&laquo;</a></li>
				    	<% } else { %>
							<li class="arrow unavailable"><a href="" class="prev">&laquo;</a></li>
				    	<% } %>
				    	<% for(i=1;i<=pages;i++){ %>
				    		<% if (page == i) { %>
				    			<li class="current"><a href=""><%= i %></a></li>
				    		<% } else { %>
								<li><a href="" class="page"><%= i %></a></li>
				    		<% } %>
				    	<% }%>
					  	<% if(page < pages) { %>
							<li class="arrow"><a href="" class="next">&raquo;</a></li>
				    	<% } else { %>
							<li class="arrow unavailable"><a href="" class="next">&raquo;</a></li>
				    	<% } %>
					</ul>
				</script>
		    </div>
		</div>
                
	    <div class="large-3 medium-4 columns">
	    	<div class="row">
		      <div class="small-12 columns">
		      	<div id="search-container" class="row collapse">
			        <label>Search Products</label>
			        <div class="small-9 columns">
			          <input type="text" id="product-search" list="product-list" placeholder="" />
			        </div>
			        <div class="small-3 columns">
			          <span class="postfix">Find</span>
			        </div>
			    </div>
		        <div id="search-results-container" class="row collapse">
			        <div id="search-results" class="small-12 columns">				        	
			        </div>
		        </div>
		      </div>
		    </div>
			<div class="panel">
				<h5>Your Cart</h5>
				<hr />
				<div id="items-container">
					<div class="empty-message">Your cart is empty</div>	
				</div>
				<hr style="margin: 10px 0;" />
				<div id="cart-totals">
					<span id="cart-subtotal"></span>
				</div>
	        </div>
	    </div>
	</div>
	<script type="text/template" class="cartItem">
		<div class="cart-item-container" data-prodID="<%- item.attributes.id %>"><img src="./img/products/<%- item.attributes.photoURL %>" width="40" align="left" /><div class="item-content"><span class="item-name"><%= item.attributes.name.truncate() %></span><br /><span class="item-price">$<%= item.attributes.price %></span> <span class="item-quantity">Qty: <span class="qty">1</span></span><br /><span class="item-remove muted">Remove</span></div></div>
	</script>
	<script type"text/template" class="modalTemplate">
		<div class="row">
			<div class="small-6 columns">
				<img src="./img/products/<%- product.attributes.photoURL %>" align="left" />
			</div>
			<div class="small-6 columns">
				<h4 id="info-modal-title"><%= product.attributes.name %></small></h4>
				<h5 id="info-modal-price">$<%= product.attributes.price %></small></h5>
				<p id="info-modal-desc"><%= product.attributes.description %></p>
				<span id="info-modal-add-to-cart" class="button success round right add-to-cart" data-prodid="<%- product.id %>">Add to Cart</span>
			</div>
		</div>
		<a class="close-reveal-modal" aria-label="Close">&#215;</a>
	</script>        
    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/underscore-min.js"></script>
    <script src="js/vendor/backbone-min.js"></script>
    <script src="js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
    <script type="text/javascript">

        var Product = Backbone.Model.extend();

        var Products = Backbone.Collection.extend({
        	initialize: function(){
    	   		_.bindAll(this, 'url');
	       		this.page = 1;
        	},
        	model: Product,
        	parse: function(response){
        		this.page = response.page;
			    this.perPage = response.per_page;
			    this.total = response.total;
			    this.search = response.search;
        		this.pages = Math.ceil(this.total / this.perPage)
			    return response.products;
        	},
        	url: function(){
        		return 'products.php?' + $.param({page: this.page});
        	}
        });

        var ProductsView = Backbone.View.extend({
        	/**
			 * Assign the view container and initialize populating the product view.
			 *
			 */
        	el: $('#products-container'),
        	initialize: function(){
        		_.bindAll(this, 'render', 'addItem', 'previous', 'next');
        		this.getCollection();
		    },

		    /**
			 * Adds event listeners to this view.
			 *
			 */
	  		events: {
	    		'click a.prev': 'previous',
	    		'click a.next': 'next',
	    		'click a.page': 'jumpToPage',
	    		'click a.add-to-cart': 'addItem',
	    		'click a.more-info': 'moreInfo'
		  	},

		  	/**
			 * Set the grid and list templates.
			 *
			 */
        	gridTemplate: _.template($('.productsTemplateGrid').html()),
        	listTemplate: _.template($('.productsTemplateList').html()),

        	/**
			 * Calls for the JSON data via AJAX and assigns them to the Products collection.
			 *
			 */
        	getCollection: function(){
        		if(this.collection == undefined){
        			this.collection = new Products;
        		}else{
	        		this.collection.fetch();       			
        		}
        		var that = this;
        		this.collection.fetch({
        			success: function(data){
        				that.render();
        			},
        			error: function(e){
        				console.log("There was an error.", e);
        			}
        		})
        	},

        	/**
			 * This function actually builds out the product grid or list.
			 *
			 */
        	render: function(){
        		var datalist = '';
        		this.collection.each(function(index){
        			var name = index.attributes.name;
        			name = name.replace(/"/g,'&quot;')
        			datalist += '<option value="'+name+'">';
        		});
        		if(window.pageLayout == 'list'){
	        		$(this.el).html(this.listTemplate({products: this.collection.toJSON(), page: this.collection.page, pages:this.collection.pages}));
        		}else{
	        		$(this.el).html(this.gridTemplate({products: this.collection.toJSON(), page: this.collection.page, pages:this.collection.pages}));
        		}
        		return this;
        	},

        	/**
			 * Go to the previous page in the pagination.
			 *
			 */
        	previous: function() {
        		if(this.collection.page == 1){
				    return false;       			
        		}else{
				    this.collection.page = parseInt(this.collection.page) - 1;
				    this.getCollection();
				    return false;       			        			
        		}
			},

			/**
			 * Go to the next page in the pagination.
			 *
			 */
			next: function() {
				if(this.collection.page == this.collection.pages){
					return false;
				}else{
				    this.collection.page = parseInt(this.collection.page) + 1;
				    this.getCollection();
				    return false;					
				}
			},

			/**
			 * Jumps to any page in the pagination.
			 *
			 */
			jumpToPage: function(e){
				e.preventDefault();
				var newPage = $(e.target).html();
				this.collection.page = parseInt(newPage);
				this.getCollection();
				return false;
			},

			/**
			 * Add item to the cart.
			 *
			 */
			addItem: function(e){
				e.preventDefault();

				if($(e.target).hasClass('add-to-cart')){
					var ID = $(e.target).data('prodid');					
				}else{
					var ID = $(e.target).parents('.add-to-cart').data('prodid');
				}
				var that = this,
				    cartItemTemplate = _.template($('.cartItem').html()),
					item = _.find(this.collection.models, function(model){
						return model.get('id') == ID;
					}),
					cartItems = $('.cart-item-container');
					console.log($(e.target));
				if(cartItems.length != 0){
					var inCart = false;
					cartItems.each(function(){
						if($(this).data('prodid') == item.attributes.id){
							inCart = this;
							return;
						}
					});
					if(inCart){
						var qty = $(inCart).find('.qty').html();
						qty = parseInt(qty) + 1;
						$(inCart).find('.qty').html(qty);
					}else{
						$('#items-container').append(cartItemTemplate({item:item}));						
					}
				}else{
					$('.empty-message').hide();
					$('#items-container').append(cartItemTemplate({item:item}));
				}
				this.calculateTotal();
				$('.item-remove').unbind();
				$('.item-remove').click(function(e){
					that.removeItem(e);
				});
			},

			/**
			 * Remove item from cart.
			 *
			 */
			removeItem: function(e){
				var prevQty = $(e.target).siblings('.item-quantity').find('.qty').html();
				prevQty = parseInt(prevQty) - 1;
				if(prevQty == 0){
					$(e.target).parents('.cart-item-container').remove();
				}else{
					$(e.target).siblings('.item-quantity').find('.qty').html(prevQty);					
				}
				this.calculateTotal();
			},

			/**
			 * Calculates the cart total.
			 *
			 */
			calculateTotal: function(){
				var cartItems = $('.cart-item-container');
				if(cartItems.length != 0){
					var subtotal = 0;
					cartItems.each(function(){
						var qty = $(this).find('.qty').html(),
							price = $(this).find('.item-price').html().substr(1);
						
						subtotal += parseFloat(qty)*parseFloat(price);
					});
					$('#cart-subtotal').html('Total: $' + subtotal.toFixed(2));
				}else{
					$('#cart-subtotal').html('');
					$('.empty-message').show();
				}
			},

			/**
			 * Listens for the moreInfo button to be clicked.
			 *
			 */
			moreInfo: function(e){
				var prodName = $(e.target).parents('.product').find('.product_name').attr('title');
				popModal(prodName);
			}
        });
        var app = new ProductsView;

        /**
		 * Changes the users view when grid or list is clicked.
		 *
		 */
        $('.change-view').click(function(e){
        	layout = $(e.target).parents('.view-option').data('view');
        	pageLayout = layout;
			if(layout == 'list'){
				$(app.el).html(app.listTemplate({products: app.collection.toJSON(), page: app.collection.page, pages:app.collection.pages}));
			}else{
				$(app.el).html(app.gridTemplate({products: app.collection.toJSON(), page: app.collection.page, pages:app.collection.pages}));
			}
			$('.view-option').removeClass('active');
			$(e.target).parents('.view-option').addClass('active');
        })

        /**
		 * Limits the number of characters outputted in a string. Also truncates a partial final word.
		 *
		 */
        String.prototype.truncate = function(l){
        	if(l == undefined){
        		var l = 23;        		
        	}
        	var tooLong = this.length>l,
        		s_ = tooLong ? this.substr(0,l-1) : this;
        		s_ = tooLong ? s_.substr(0,s_.lastIndexOf(' ')) : s_;
        	return tooLong ? s_ + '&hellip;' : s_;
        }

        /**
		 * Populates the modal, displays it and adds listener
		 *
		 */
        function popModal(prodName){
			var modalTemplate = _.template($('.modalTemplate').html()),
				item = _.find(app.collection.models, function(model){
					return model.get('name') == prodName;
				});
			console.log(prodName);
    		$('#information-modal').html(modalTemplate({product:item}));
			$('#information-modal').foundation('reveal', 'open');
			$("#info-modal-add-to-cart").unbind();
			$("#info-modal-add-to-cart").click(function(e){
				app.addItem(e);
				$('#information-modal').foundation('reveal', 'close'); 
			});
        }

        /**
		 * Dynamically returns search results each time the search form is changed
		 *
		 */
        $("#product-search").on('input', function(){
        	var products = app.collection.search;
        	var phrase = $(this).val().toLowerCase();
        	$("#search-results").html('');
        	if(phrase == ''){
        		$("#search-results").hide();
        		return;
        	}else{
        		$("#search-results").show();
        	}
        	products.forEach(function(index){
        		if(index.toLowerCase().indexOf(phrase) > -1){
        			$("#search-results").append('<li class="search-result">'+index+'</li>');
        		}
        	});
        	if($("#search-results").html() == ''){
        		$("#search-results").html('No products found');
        	}
        	$(".search-result").unbind();
        	$(".search-result").click(function(e){
        		var productName = $(e.target).html();
        		popModal(productName);
        		$("#product-search").val('');
        		$("#search-results").html('').hide();
        	});
        });
    </script>
    <svg width="32px" height="32px" viewBox="0 0 100 100" style="display: none;">
		<g id="add_cart" style="fill: #FFF;">
			<path d="M46.046,84.27c1.282,2.013,2.038,4.391,2.038,6.957c0,0.271-0.025,0.542-0.038,0.818h11.358
				c-0.018-0.276-0.044-0.548-0.044-0.818c0-2.566,0.754-4.944,2.043-6.957H46.046z"/>
			<path d="M70.143,28.951c0-0.147,0.016-0.292,0.022-0.439l-49.354-4.637l-2.88-12.079c-0.44-1.869-1.822-3.372-3.651-3.961
				L-7.084,0.914c-0.961-0.46-2.019-0.74-3.153-0.74c-4.037,0-7.31,3.268-7.31,7.31c0,4.028,3.273,7.307,7.31,7.307
				c1.833,0,3.487-0.705,4.773-1.81l13.424,4.343c0,0,10.501,44.891,12.35,51.807c0.948,3.557,2.7,8.838,5.206,13.43
				c1.791-1.982,4.169-3.415,6.874-4.002c-1.023-1.763-1.843-3.64-2.208-5.197h53.794c2.467,0,4.634-1.645,5.286-4.032l2.952-14.41
				C79.718,52.867,70.143,42.018,70.143,28.951z"/>
			<circle cx="35.127" cy="91.224" r="7.776"/>
			<path d="M72.316,83.448c-4.298,0-7.772,3.485-7.772,7.778c0,4.295,3.475,7.773,7.772,7.773c4.296,0,7.775-3.479,7.775-7.773
				C80.092,86.934,76.612,83.448,72.316,83.448z"/>
			<path d="M96.494,7.284c-11.951,0-21.671,9.721-21.671,21.667c0,10.806,7.979,19.711,18.342,21.326
				c1.092,0.171,2.189,0.337,3.329,0.337c11.953,0,21.676-9.719,21.676-21.664C118.17,17.005,108.447,7.284,96.494,7.284z
				 M111.294,32.807h-10.829v10.771c0,1.411-1.189,2.12-3.549,2.12h-0.983c-0.72,0-1.29-0.086-1.784-0.216
				c-1.153-0.298-1.764-0.919-1.764-1.904V32.807H81.696c-1.391,0-2.085-1.143-2.113-3.408c0-0.048-0.012-0.079-0.012-0.129v-0.495
				c0-2.361,0.706-3.545,2.123-3.545h10.688V14.325c0-1.416,1.182-2.128,3.545-2.128h0.985c2.359,0,3.55,0.713,3.55,2.128v10.904
				h10.831c1.418,0,2.124,1.184,2.124,3.545v0.495C113.421,31.63,112.712,32.807,111.294,32.807z"/>
		</g>
		<g id="more_info" style="fill: #FFF;">
			<path d="M50,99c27.613,0,49.999-22.386,49.999-50S77.613-1,50-1C22.386-1,0.001,21.386,0.001,49S22.386,99,50,99z
				 M49.679,14.666c4.596,0,7.721,3.493,7.721,7.998c0,4.781-3.401,8.089-7.721,8.089c-4.229,0-7.631-3.309-7.631-8.089
				C42.048,17.976,45.45,14.666,49.679,14.666z M37.544,79.475c5.424,0,5.884-0.826,5.884-7.629V50.792
				c0-6.802-0.367-7.262-5.884-7.262v-3.676c5.608-0.369,11.583-1.84,17.927-4.505l1.563,0.827v35.76c0,6.711,0.551,7.539,5.423,7.539
				v3.858H37.544V79.475z"/>
		</g>
		<g id="grid" style="fill: #FFF;">
			<rect x="0" y="0" width="24" height="24"/>
			<rect x="38" y="0" width="24" height="24"/>
			<rect x="75" y="0" width="24" height="24"/>
			<rect x="0" y="75" width="24" height="24"/>
			<rect x="38" y="75" width="24" height="24"/>
			<rect x="75" y="75" width="24" height="24"/>
			<rect x="0" y="38" width="24" height="24"/>
			<rect x="38" y="38" width="24" height="24"/>
			<rect x="75" y="38" width="24" height="24"/>
		</g>
		<g id="list" style="fill: #FFF;">
			<rect x="0" y="0" width="100" height="20"/>
			<rect x="0" y="38" width="100" height="20"/>
			<rect x="0" y="75" width="100" height="20"/>
		</g>
	</svg>
	<div id="information-modal" class="reveal-modal" data-reveal aria-labeledby="info-modal-title" aria-hidden="true" role="dialog">
	</div>
  </body>
</html>
